<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Main</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <header>
            <h1>Hi! I am the index page!</h1>
        </header>

        <main>


            <label>Add Trips</label>
            <a href="/add-trip">Go</a>



            <label>Trip History</label>
            <a href="/trips">Go</a>


        </main>

        <footer>
        </footer>
    </body>

    <script src=""></script>
</html>